.SidebarRows {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.SidebarRows:hover {
  background-color: lightgray;
  border-radius: 10px;
}
.SidebarRows > h4 {
  margin-left: 20px;
  font-weight: 700;
}
.SidebarRows > .MuiSvgIcon-root {
  font-size: x-large;
  color: #2e81f4;
}
